{% extends "layout/base.html.twig" %}
{% block title %}{{ title }} - Institut de Beauté et Bien-être{% endblock %}

{% block meta_description %}
Prendre Soin de Soi L'Essentiel - Institut de beauté et bien-être. Massages thérapeutiques, soins énergétiques, épilations et rituels personnalisés. L'art du bien-être et de l'harmonie.
{% endblock %}

{% block content %}
<section class="hero-section">
  <div class="hero-content">
   <img src="/assets/images/logo-final-trans.png" alt="" style="max-width:400px;">
  </div>
</section>

<section class="main-content">
  <div class="content-grid">
    <div class="content-image">
      <img src="/assets/images/illu-1.jpg" alt="Soin relaxant" style="width: 100%; border-radius: 12px; box-shadow: var(--shadow-soft);">
    </div>
    <div class="content-text">
      <h2>Prendre Soin de Soi, L'Essentiel</h2>
      <p class="lead">L'art du bien-être et de l'harmonie, de chez moi ou chez vous</p>
      
      <p><em>Offrez-vous une parenthèse hors du temps, un moment où votre corps et votre esprit retrouvent équilibre et sérénité.</em></p>
      
      <p>Dans un espace dédié à la détente, ou <strong>directement chez vous</strong>, je vous propose une gamme complète de soins pour révéler votre beauté intérieure et extérieure :</p>
      
      <ul>
        <li>Massages <em>bien-être</em> et <em>thérapeutiques</em></li>
        <li>Soins <em>énergétiques</em> et <em>rituels</em> inspirés des traditions ancestrales</li>
        <li>Épilations et soins <em>esthétiques</em> personnalisés</li>
        <li>Massages <em>intuitifs</em> et <em>chamaniques</em> pour une reconnexion profonde</li>
      </ul>
      
      <p>Que vous cherchiez un <strong>soin relaxant</strong>, une pause beauté, ou une expérience plus holistique, alliant corps et esprit, vous êtes au bon endroit.</p>
      <p style="text-align: right;">Chaque rendez-vous est conçu pour un <strong>moment unique</strong>, d'écoute, de bienveillance et de professionnalisme.<em> Parce que vous méritez que l'on prenne soin de vous.</em></p>
      <p><strong>Votre voyage vers le mieux-être commence ici.</strong></p>
    </div>
  </div>
</section>

<section class="about-section">
  <div class="about-content">
    <div class="about-text">
      <h2>Qui suis-je ?</h2>
      
      <p>Depuis toujours passionnée par le bien-être et l'accompagnement, j'ai choisi de faire de cette passion mon métier. Après plusieurs années de formations et d'expériences, j'ai ouvert mon institut en 2021 avec un objectif simple : <span class="highlight">offrir à chacun un moment d'évasion et de reconfort</span>.</p>
      
      <p style="text-align: right;">Je suis spécialisée dans les massages thérapeutiques et <span class="highlight">bien-être</span>, mais aussi dans des pratiques plus holistiques comme les soins <span class="highlight">énergétiques, rituels esséniens, massages chamaniques et tirages des cartes de lumière</span>. Mon approche est globale : <span class="highlight">prendre soin du corps tout en respectant les besoins de l'esprit</span>.</p>
      
      <p>Je crois profondément que se faire du bien n'est pas un luxe, mais une nécessité. Mon souhait est de vous accueillir dans un espace chaleureux, ou professionalisme rime avec convivialité, et où chaque soin devient une <span class="highlight">expérience unique</span> de détente et de partage.</p>
      
      <p class="quote">Au plaisir de vous rencontrer, et n'oubliez pas, prendre soin de soi, c'est l'essentiel !</p>
      
      <div class="cta-buttons">
        <a href="/prestations" class="btn">Voir toutes les prestations</a>
        <a href="/rdv" class="btn">Prendre RDV</a>
      </div>
    </div>
    <div class="about-image">
      <img src="/assets/images/photo-sabrina.png" alt="Portrait de la praticienne" />
    </div>
  </div>
</section>

<section class="main-content">
  <div class="container">
<div class="elfsight-app-fc0b6f5f-5c8c-43c6-a487-108f4f203368" data-elfsight-app-lazy></div>  </div>
</section>

<section class="about-section">
  <div class="about-content">
    <div class="about-text">
      <h2>Où me trouver?</h2>
      
      <p>Je vous accueille à mon domicile au <span class="highlight">9, rue des Coquelicots, 59249 Fromelles</span>.</p>
      
      <p>Je me déplace dans un rayon de <span class="highlight">20kms</span> autour de Fromelles (Hallennes-lez-Haubourdin, Fleurbaix, Pérenchies, Wavrin,...) hormis pour le microshading, microblading et candylips, pour lesquels des normaes d'hygiène sont à respecter scrupuleusement.</p>
      
      <p>Pour <strong>toute visite à domicile</strong>, des <span class="highlight">frais supplémentaires de déplacement</span> seront appliqués selon le barême suivant: </p>
      <p><u>< 10kms</u> : 5€</p>
      <p><u>< 10kms</u> : 10€</p>

      <p>Les prestations effectuées le dimanche ou jours fériés seront <span class="highlight">majorées de 5€</span>.</p>

    </div>
   <div style="width: 100%"><iframe width="100%" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=450&amp;hl=en&amp;q=9%20rue%20des%20coquelicots%2059249%20fromelles+(Prendre%20Soin%20de%20Soi%20L'Essentiel)&amp;t=&amp;z=16&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a href="https://www.mapsdirections.info/fr/calculer-la-population-sur-une-carte">Estimer la population sur la carte</a></iframe></div>
  </div>
</section>
{% endblock %}